:root {
  --primary-text-color: #757575;
  --primary-title-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
  --primary-tel-mail-color: rgba(255, 255, 255, 0.6);
  --primary-border-color: #eeeeee;
}
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--primary-white-color);
}

/* утелітарні класи */
section {
  padding-top: 94px;
  padding-bottom: 94px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
ul {
  margin: 0px;
  padding-left: 0px;
}
.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}
img {
  display: block;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  font-style: normal;
}
.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.active:visited{
color: var(--accent-color);
}

.text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}
.title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--primary-title-color);
}
.footer {
  background-color: var(--primary-bg-color);
}
.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--primary-title-color);
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
}
.btn:focus,
.btn:hover {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
/* Header----------- */
header .container {
  display: flex;
  align-items: center;
}
header {
  border-bottom: 1px solid #ececec;
}
.logo {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-title-color);
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo-web {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.header-list {
  display: flex;
  margin-left: 93px;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}
.header-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.adress-list {
  display: flex;
  margin-left: auto;
}
.adress-item:not(:last-child) {
  margin-right: 50px;
}
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}
/* hero----------- */
.hero {
  background-color: var(--primary-bg-color);
  text-align: center;
}
.hero-title {
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.hero-btn {
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
  color: var(--primary-white-color);
}
/* feature----------- */
.feature {
  padding-bottom: 0;
}
.feature-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}
.feature-list {
  display: flex;
}
.feature-item {
  margin-right: 30px;
  width: 270px;
}
.feature-item:last-child {
  margin: 0;
}
.feature-name {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-title-color);
  margin-bottom: 10px;
}
/* work----------- */
.work-title {
  margin-bottom: 50px;
}
.work-list {
  display: flex;
}
.work-item:not(:last-child) {
  margin-right: 30px;
}
.work-item {
  width: calc((100%-60px) / 3);
}
/* team----------- */
.team {
  background-color: var(--secondary-bg-color);
}
.team-text {
  margin-bottom: 50px;
}
.team-list {
  display: flex;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-item {
  width: calc((100%-90px) / 4);
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--primary-title-color);
  margin-top: 30px;
}
.team-speciality {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
}
/* footer----------- */
.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-white-color);
}
.footer-adress-item {
  margin-top: 9px;
}
.footer-adress-item:first-child {
  margin-top: 20px;
}
.footer-address {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-white-color);
}
.footer-mail {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-tel-mail-color);
}
.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-tel-mail-color);
}
/*  portfolio-buttons ----------- */
.portfolio-buttons {
  padding-top: 100px;
  padding-bottom: 50px;
}
.buttons-portfolio {
  padding: 6px 22px 6px 22px;
}
.buttons-list {
  display: flex;
  justify-content: center;
}
.buttons-item:not(:last-child) {
  margin-right: 8px;
}
/*  portfolio ----------- */
.portfolio {
  padding-top: 0;
}
.portfolio-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
}
.portfolio-container {
  border-right: 1px solid var(--primary-border-color);
  border-bottom: 1px solid var(--primary-border-color);
  border-left: 1px solid var(--primary-border-color);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  background: var(--primary-white-color);
  max-width: 370px;
}
.portfolio-item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-after-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  padding-bottom: 4px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
}
